<div class="action-toggle">
  <div class="container">
    <div class="click-to-section" id="click-to-section">
      <div class="click-buttons" id="click-buttons">
        <ul>
          <li><a href="#ingredients" id="ingredient">Ingredients</a></li>
          <li><a href="#nutrition" id="nutri">Nutrition</a></li>
          <li><a href="#how-to-use" id="use">Why US</a></li>
          <li><a href="#us-v-them" id="compare">Us v tHem</a></li>
          <li><a href="#benefits" id="benefit">benefits</a></li>
          <li><a href="#faqs" id="faq">faqs</a></li>
        </ul>
      </div>
      <div class="back-top-top">
        <a href="#" class="primary-button yellow-black">back to top</a>
      </div>
    </div>
  </div>
</div>

<script>
  var screenWidth = window.innerWidth || document.documentElement.clientWidth;
  var top;

  $(document).ready(function() {
    if (screenWidth < 768) {
      $(".action-toggle").parent(".shopify-section").css({"position": "sticky", "top": "50px", "z-index": "989"});
    } else {
      $(".action-toggle").parent(".shopify-section").css({"position": "sticky", "top": "58px", "z-index": "989"});
    }
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const navLinks = document.querySelectorAll(".click-buttons a");

    navLinks.forEach(link => {
      link.addEventListener("click", function(e) {
        e.preventDefault();

        const targetId = this.getAttribute("href").substring(1); // Remove the "#" character
        const targetSection = document.getElementById(targetId);

        if (targetSection) {
          const offset = targetSection.offsetTop -(window.innerHeight * 0.15); // 20% above the section
          window.scrollTo({top: offset, behavior: "smooth"});
        }
      });
    });
  });
</script>
<script>
 document.addEventListener('DOMContentLoaded', function () {
    var buttonsContainer = document.getElementById('click-to-section');
    
    function autoScrollToActive() {
      var activeButton = document.querySelector('.click-buttons a.active');

      if (activeButton) {
        activeButton.scrollIntoView({
          behavior: 'smooth',
          block: 'center',  // Adjust this to 'start', 'center', or 'end' as needed
          inline: 'center'  // Adjust this to 'start', 'center', or 'end' as needed
        });
      }
    }

    // Call the function periodically or based on your requirements
    setInterval(autoScrollToActive, 2000);  // Adjust the interval as needed
  });
</script>