<div class="action-toggle">
  <div class="container">
    <div class="click-to-section" id="click-to-section">
      <div class="click-buttons" id="click-buttons" ontouchstart="enableScroll()" ontouchmove="handleTouchMove(event)">
        <ul>
          <li><a href="#ingredients" id="ingredient">Ingredients</a></li>
          <li><a href="#nutrition" id="nutri">Nutrition</a></li>
          <li><a href="#how-to-use" id="use">Why US</a></li>
          <li><a href="#us-v-them" id="compare">Us v tHem</a></li>
          <li><a href="#benefits" id="benefit">benefits</a></li>
          <li><a href="#faqs" id="faq">faqs</a></li>
        </ul>
      </div>
      <div class="back-top-top">
        <a href="#" class="primary-button yellow-black">back to top</a>
      </div>
    </div>
  </div>
</div>

<script>
  var screenWidth = window.innerWidth || document.documentElement.clientWidth;
  var top;

  $(document).ready(function() {
    if (screenWidth < 768) {
      $(".action-toggle").parent(".shopify-section").css({"position": "sticky", "top": "50px", "z-index": "989"});
    } else {
      $(".action-toggle").parent(".shopify-section").css({"position": "sticky", "top": "58px", "z-index": "989"});
    }
  });
</script>

<script>
  var isScrollEnabled = true;

  function enableScroll() {
    isScrollEnabled = true;
  }

  function handleTouchMove(event) {
    if (!isScrollEnabled) {
      event.preventDefault(); // Prevent default touch move behavior if scrolling is disabled
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    window.addEventListener('scroll', function () {
      if (window.innerWidth < 767 && isScrollEnabled) {
        moveActiveToStart();
      }
    });

    function moveActiveToStart() {
      var activeButton = document.querySelector('.click-buttons a.active');
      if (activeButton) {
        // Disable scrolling during the operation
        isScrollEnabled = false;

        // Perform prepend operation
        var listItem = activeButton.parentElement;
        document.querySelector('.click-buttons ul').prepend(listItem);

        // Re-enable scrolling after the prepend operation
        isScrollEnabled = true;
      }
    }
  });
</script>