<section class="announce-bar">
  <div class="container">
    <div class="annouce-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/image_3.svg?v=1693566055" alt="">
      <p class="free-shipping">FREE SHIPPING OVER $50.</p>
      <p>90-DAY MONEY-BACK GUARANTEE.</p>
      <a href="#!">Shop Now</a>
      <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/image_4.png?v=1693566048" alt="">
    </div>
  </div>
</section>