<section class="announce-bar">
  <div class="container">
    <div class="annouce-wrap">
      <p class="free-shipping">FREE SHIPPING OVER $50.</p>
      <p>90-DAY MONEY-BACK GUARANTEE.</p>
      <a href="#grab-section">Shop Now</a>
      <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/Untitled_design_1_1.svg?v=1696857861" alt="">
    </div>
    <div class="annouce-wrap mob">
      <div class="owl-theme owl-carousel">
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/546188ad68300801f30617e902401261.png?v=1699511212" alt="">
          <p class="free-shipping">FREE SHIPPING OVER $50.</p>
        </div>
        <div class="item">
          <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/7050488-removebg-preview.svg?v=1699508496" alt="">
          <p>90-DAY MONEY-BACK GUARANTEE.</p>
        </div>
      </div>
      <a href="#grab-section">Shop Now</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "text1",
        "label": "Text 1",
        "default": "FREE SHIPPING OVER $50."
      }, {
        "type": "text",
        "id": "text2",
        "label": "Text 2",
        "default": "FREE SHIPPING OVER $50."
      }, {
        "type": "page",
        "id": "link",
        "label": "CTA link"
      }
    ]
  }
{% endschema %}

<script>
  $('.announce-bar .owl-carousel').owlCarousel({
    loop: true,
    margin: 10,
    nav: false,
    dots: false,
    autoplay: true,
    autoplayTimeout: 7000,
    autoplayHoverPause: true,
    animateOut: 'fadeOut',
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 1
      },
      1000: {
        items: 1
      }
    }
  });
</script>