<div class="founder-banner padt-180">
  <div class="custom-container-fluid">
    <div class="founder-banner-content">
      <div class="founder-banner-content-top">
        <div class="founder-banner-heading">
          <h1 class="txt-white">i'm nowell 'N i have ibs</h1>
        </div>
        <div class="founder-banner-subtext ban-sub-head yellow">
          Unleashing a revolution
        </div>
      </div>
      <div class="founder-banner-content-bottom">
        <div class="founder-banner-body">
          <p class="white">My journey with IBS inspired Gutly's creation. Frustration turned into determination. Countless trials led to a formula that's gentle yet powerful. Let's share our stories and support one another on this journey to wellness..</p>
        </div>
      </div>
    </div>
    <div class="founder-banner-image">
      <div class="founder-banner-image-wrap">
        <div class="gutly-tag">
          <div class="gutly-tag-wrap">
            dietitian
            approved
          </div>
        </div>
        <div class="founder-banner-img">
          <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/Rectangle_24376.png?v=1693315294" alt="">
        </div>
      </div>
    </div>
  </div>
</div>