<section class="pad-180">
  <div class="container">
    <div class="happy-gut trans">
      <div class="heading center over-hid">
        <h3 class="trans-first">{{ section.settings.head }}</h3>
      </div>
      <div class="hg-txt over-hid">
        {% for block in section.blocks %}
          <p class="trans-sec">{{ block.settings.para }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Happy Gut Happy Brain",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      }
    ],
    "blocks": [
      {
        "name": "Happy Gut Para",
        "type": "hg-para",
        "settings": [
          {
            "type": "text",
            "id": "para",
            "label": "Paragraph"
          }
        ]
      }
    ]
  }
{% endschema %}