<section class="padb-90">
  <div class="gutly-way trans">
    <div class="gw-left">
      <div class="head over-hid">
        <h3 class="trans-first">{{ section.settings.head }}</h3>
      </div>
      <div class="para over-hid">
        {% for block in section.blocks %}
          <p class="trans-sec">{{ block.settings.para }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="gw-right">
      <img
        src="{{ section.settings.img | img_url: 'master' }}"
        alt=""
        class="img trans-img">
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Gutly Way",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      }, {
        "type": "image_picker",
        "id": "img",
        "label": "Section Image"
      }
    ],
    "blocks": [
      {
        "type": "paraBlock",
        "name": "Paragraph Block",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "para",
            "label": "Paragraph"
          }
        ]
      }
    ]
  }
{% endschema %}