<div class="loader" style="background-color: {{ section.settings.bg_color }};">
  <div class="loader-size">
    <svg
      width="113"
      height="26"
      viewBox="0 0 113 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-svg">
      <path
        class="text t3"
        d="M51.3037 8.43182H58.0849V24.6379H66.1543V8.43182H72.9318V1.23242H51.3037V8.43182Z"
        fill="#554B3B" />
      <path
        class="text t2"
        d="M83.5314 1.23242H75.4619V24.6379H76.0407H83.5314H92.8592V17.4423H83.5314V1.23242Z"
        fill="#554B3B" />
      <path
        class="text t1"
        d="M103.58 1.23242L100.242 11.3631L96.8997 1.23242H88.4531L92.8146 14.4587H96.2089V24.6379H104.275V14.4587H107.669L112.03 1.23242H103.58Z"
        fill="#554B3B" />
      <path
        class="text t4"
        d="M40.7011 15.8739C40.7011 17.4722 39.4054 18.2601 37.8072 18.2601C36.2089 18.2601 34.9132 17.4722 34.9132 15.8739V1.23242H26.8438V16.2735C26.8438 22.3265 31.7504 25.4595 37.8072 25.4595C43.8639 25.4595 48.7706 22.3265 48.7706 16.2735V1.23242H40.7011V15.8739Z"
        fill="#554B3B" />
      <path
        class="text t5"
        d="M12.2035 16.4524H16.4081C16.4081 16.4524 15.9003 19.1111 12.5209 19.1111C9.39541 19.1111 8.45441 16.1425 8.45441 13.8385V12.9349C8.45441 10.1567 10.0713 8.36057 12.5134 8.36057C13.8428 8.36057 15.09 9.23809 15.4335 10.2762L24.0108 7.75564C24.0108 7.75564 22.8532 3.18133 17.7412 1.36655C15.2244 0.474089 11.6695 0.115612 8.59257 1.05288C1.78152 3.13652 -0.100481 9.01778 0.00407508 13.8273C0.160909 20.9483 4.68667 25.0372 10.4186 25.0372C16.4417 25.0372 17.1139 20.0857 17.1139 20.0857H18.1743L17.267 24.7609H24.3133V11.6765H12.2035V16.4524Z"
        fill="#554B3B" />
    </svg>
    <svg
      class="circle-svg"
      viewBox="0 0 363 363"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <clipPath id="circleClip">
        <path
          class="circle"
          d="M359.547 172.493C362.899 178.03 362.899 184.97 359.547 190.507L348.544 208.68C346.433 212.167 345.614 216.285 346.23 220.314L349.441 241.315C350.419 247.712 347.763 254.124 342.547 257.957L325.428 270.536C322.143 272.95 319.81 276.441 318.837 280.399L313.767 301.03C312.222 307.315 307.315 312.222 301.03 313.767L280.399 318.837C276.441 319.81 272.949 322.143 270.536 325.428L257.957 342.547C254.124 347.763 247.712 350.419 241.315 349.441L220.314 346.23C216.285 345.614 212.167 346.433 208.68 348.544L190.507 359.547C184.97 362.899 178.03 362.899 172.493 359.547L154.32 348.544C150.833 346.433 146.715 345.614 142.686 346.23L121.685 349.441C115.287 350.419 108.876 347.763 105.043 342.547L92.4642 325.428C90.0505 322.143 86.5593 319.81 82.6006 318.837L61.9704 313.767C55.6852 312.222 50.7777 307.315 49.233 301.03L44.1629 280.399C43.19 276.441 40.8573 272.95 37.5723 270.536L20.4527 257.957C15.237 254.124 12.5812 247.712 13.5593 241.315L16.7699 220.314C17.386 216.285 16.5669 212.167 14.4556 208.68L3.45301 190.507C0.1009 184.97 0.100901 178.03 3.45301 172.493L14.4556 154.32C16.5669 150.833 17.386 146.715 16.7699 142.686L13.5593 121.685C12.5812 115.288 15.237 108.876 20.4527 105.043L37.5723 92.4643C40.8573 90.0505 43.19 86.5594 44.1629 82.6006L49.2331 61.9705C50.7777 55.6852 55.6852 50.7778 61.9705 49.2331L82.6007 44.1629C86.5594 43.19 90.0505 40.8573 92.4643 37.5723L105.043 20.4528C108.876 15.237 115.288 12.5812 121.685 13.5593L142.686 16.77C146.715 17.386 150.833 16.5669 154.32 14.4556L172.493 3.45302C178.03 0.100923 184.97 0.10092 190.507 3.45302L208.68 14.4556C212.167 16.5669 216.285 17.3861 220.314 16.77L241.315 13.5593C247.712 12.5812 254.124 15.2371 257.957 20.4528L270.536 37.5723C272.95 40.8574 276.441 43.19 280.399 44.1629L301.03 49.2331C307.315 50.7778 312.222 55.6852 313.767 61.9705L318.837 82.6007C319.81 86.5594 322.143 90.0505 325.428 92.4643L342.547 105.043C347.763 108.876 350.419 115.288 349.441 121.685L346.23 142.686C345.614 146.715 346.433 150.833 348.544 154.32L359.547 172.493Z"
          fill="#FFD12D" />
      </clipPath>
      <path
      class="circle"
        d="M359.547 172.493C362.899 178.03 362.899 184.97 359.547 190.507L348.544 208.68C346.433 212.167 345.614 216.285 346.23 220.314L349.441 241.315C350.419 247.712 347.763 254.124 342.547 257.957L325.428 270.536C322.143 272.95 319.81 276.441 318.837 280.399L313.767 301.03C312.222 307.315 307.315 312.222 301.03 313.767L280.399 318.837C276.441 319.81 272.949 322.143 270.536 325.428L257.957 342.547C254.124 347.763 247.712 350.419 241.315 349.441L220.314 346.23C216.285 345.614 212.167 346.433 208.68 348.544L190.507 359.547C184.97 362.899 178.03 362.899 172.493 359.547L154.32 348.544C150.833 346.433 146.715 345.614 142.686 346.23L121.685 349.441C115.287 350.419 108.876 347.763 105.043 342.547L92.4642 325.428C90.0505 322.143 86.5593 319.81 82.6006 318.837L61.9704 313.767C55.6852 312.222 50.7777 307.315 49.233 301.03L44.1629 280.399C43.19 276.441 40.8573 272.95 37.5723 270.536L20.4527 257.957C15.237 254.124 12.5812 247.712 13.5593 241.315L16.7699 220.314C17.386 216.285 16.5669 212.167 14.4556 208.68L3.45301 190.507C0.1009 184.97 0.100901 178.03 3.45301 172.493L14.4556 154.32C16.5669 150.833 17.386 146.715 16.7699 142.686L13.5593 121.685C12.5812 115.288 15.237 108.876 20.4527 105.043L37.5723 92.4643C40.8573 90.0505 43.19 86.5594 44.1629 82.6006L49.2331 61.9705C50.7777 55.6852 55.6852 50.7778 61.9705 49.2331L82.6007 44.1629C86.5594 43.19 90.0505 40.8573 92.4643 37.5723L105.043 20.4528C108.876 15.237 115.288 12.5812 121.685 13.5593L142.686 16.77C146.715 17.386 150.833 16.5669 154.32 14.4556L172.493 3.45302C178.03 0.100923 184.97 0.10092 190.507 3.45302L208.68 14.4556C212.167 16.5669 216.285 17.3861 220.314 16.77L241.315 13.5593C247.712 12.5812 254.124 15.2371 257.957 20.4528L270.536 37.5723C272.95 40.8574 276.441 43.19 280.399 44.1629L301.03 49.2331C307.315 50.7778 312.222 55.6852 313.767 61.9705L318.837 82.6007C319.81 86.5594 322.143 90.0505 325.428 92.4643L342.547 105.043C347.763 108.876 350.419 115.288 349.441 121.685L346.23 142.686C345.614 146.715 346.433 150.833 348.544 154.32L359.547 172.493Z"
        fill="#FFD12D" />
      <!-- Red fill rectangle -->
      <rect
        x="0"
        y="0"
        width="100%"
        height="100%"
        d="M359.547 172.493C362.899 178.03 362.899 184.97 359.547 190.507L348.544 208.68C346.433 212.167 345.614 216.285 346.23 220.314L349.441 241.315C350.419 247.712 347.763 254.124 342.547 257.957L325.428 270.536C322.143 272.95 319.81 276.441 318.837 280.399L313.767 301.03C312.222 307.315 307.315 312.222 301.03 313.767L280.399 318.837C276.441 319.81 272.949 322.143 270.536 325.428L257.957 342.547C254.124 347.763 247.712 350.419 241.315 349.441L220.314 346.23C216.285 345.614 212.167 346.433 208.68 348.544L190.507 359.547C184.97 362.899 178.03 362.899 172.493 359.547L154.32 348.544C150.833 346.433 146.715 345.614 142.686 346.23L121.685 349.441C115.287 350.419 108.876 347.763 105.043 342.547L92.4642 325.428C90.0505 322.143 86.5593 319.81 82.6006 318.837L61.9704 313.767C55.6852 312.222 50.7777 307.315 49.233 301.03L44.1629 280.399C43.19 276.441 40.8573 272.95 37.5723 270.536L20.4527 257.957C15.237 254.124 12.5812 247.712 13.5593 241.315L16.7699 220.314C17.386 216.285 16.5669 212.167 14.4556 208.68L3.45301 190.507C0.1009 184.97 0.100901 178.03 3.45301 172.493L14.4556 154.32C16.5669 150.833 17.386 146.715 16.7699 142.686L13.5593 121.685C12.5812 115.288 15.237 108.876 20.4527 105.043L37.5723 92.4643C40.8573 90.0505 43.19 86.5594 44.1629 82.6006L49.2331 61.9705C50.7777 55.6852 55.6852 50.7778 61.9705 49.2331L82.6007 44.1629C86.5594 43.19 90.0505 40.8573 92.4643 37.5723L105.043 20.4528C108.876 15.237 115.288 12.5812 121.685 13.5593L142.686 16.77C146.715 17.386 150.833 16.5669 154.32 14.4556L172.493 3.45302C178.03 0.100923 184.97 0.10092 190.507 3.45302L208.68 14.4556C212.167 16.5669 216.285 17.3861 220.314 16.77L241.315 13.5593C247.712 12.5812 254.124 15.2371 257.957 20.4528L270.536 37.5723C272.95 40.8574 276.441 43.19 280.399 44.1629L301.03 49.2331C307.315 50.7778 312.222 55.6852 313.767 61.9705L318.837 82.6007C319.81 86.5594 322.143 90.0505 325.428 92.4643L342.547 105.043C347.763 108.876 350.419 115.288 349.441 121.685L346.23 142.686C345.614 146.715 346.433 150.833 348.544 154.32L359.547 172.493Z"
        class="fill-rect"
        clip-path="url(#circleClip)"></rect>
    </svg>
  </div>
</div>

{% schema %}
  {
    "name": "loader",
    "settings": [
      {
        "type": "text",
        "id": "bg_color",
        "label": "Loader Background",
        "default": "#F9F1E4"
      }, {
        "type": "image_picker",
        "id": "img",
        "label": "Loader Image"
      }
    ]
  }
{% endschema %}



<script>
  setTimeout(function() {
    $('.loader-size').addClass('active');
  }, 0);

  setTimeout(function() {
    $('.loader').addClass('active');
  }, 2000);

  setTimeout(function() {
    $('body').removeClass('over-hid');
  }, 1900);
</script>