<section class="pad-180 product-faq" id="faqs">
  <div class="container">
    <div class="faq-section trans">
      <div class="heading center over-hid">
        <h2 class="trans-first">{{ section.settings.head }}</h2>
      </div>
      <div class="faq-wrapper">
        {% for item in product.metafields.custom.faq.value %}
          <div class="item" data-aos="fade-up">
            <div class="faq-head">
              <div class="arrow">
                {% render 'chevron-down' %}
              </div>
              <div class="faq-ques-div">
                <p class="faq-ques">{{ item.faq_question }}</p>
              </div>
            </div>
            <div class="faq-ans">
              {{ item.faq_answer | metafield_tag }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div id="new-end-trigger"></div>

{% schema %}
  {
    "name": "Faq Section",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Faq Section Heading"
      }
    ]
  }
{% endschema %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script>
  $(document).ready(function() {
    $(".faq-wrapper .item:first-child").addClass("active").find(".faq-ans").slideDown();
    $(".faq-head").click(function() {
      $(this).parent().toggleClass("active");
      $(this).siblings(".faq-ans").slideToggle();
      $(".faq-wrapper .item")
        .not($(this).parent())
        .removeClass("active")
        .find(".faq-ans")
        .slideUp();
    });
  });
</script>

<script>
  // init controller
  var controller1 = new ScrollMagic.Controller({
    globalSceneOptions: {
      duration: '100%'
    }
  });

  new ScrollMagic.Scene({triggerElement: "#faqs"}).setClassToggle("#faq", "active") // add class toggle.addTo(controller1);
</script>