<section class="padb-90">
  <div class="solution-problem-wrapper">
    <div class="problem">
      <div class="prob-head">
        <div class="head">
          <h3>Sick of protein powders causing bloating?</h3>
        </div>
        <div class="sub-head">
          <p>Did you know that approximately 1 in 7 people around the world are affected by Irritable Bowel Syndrome (IBS)? - Monash University.</p>
        </div>
      </div>
      <div class="prob-grid"></div>
    </div>
    <div class="solution"></div>
  </div>
</section>

{% schema %}
  {
    "name": "solution Section",
    "settings": [
      {
        "type": "text",
        "id": "problemHead",
        "label": "Problem Heading"
      }, {
        "type": "text",
        "id": "problemPara",
        "label": "Problem Subhead"
      }
    ]
  }
{% endschema %}