.founder-banner{
    background-color: #55B85F;
    padding-bottom: 40px;
    height: 100vh;
    min-height: 640px;
    padding-top: 80px;
}
.founder-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.founder-banner .custom-container-fluid{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.founder-banner-content-top{
    max-width: 80ch;
}
.founder-banner-body{
    max-width: 55ch;
    margin-top: 36px;
}
.founder-banner-image{
    width: 38%;
    position: relative;
}
.founder-banner-img{
    border-radius: 17px;
    overflow: hidden;
    height:90%;
    position: relative;
    width: 100%;
}
.founder-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0px;
}
.founder-banner-image-wrap{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}
.gutly-tag{
    background-image: url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/Star_5.svg?v=1693315587');
    background-repeat: no-repeat;
    background-size: cover;
    color: #222;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 17.969px */
    letter-spacing: 1.007px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 136px;
    position: absolute;
    top: 30px;
    right: -40px;
    z-index: 1;
    transform: rotate(0.2deg);
}
.gutly-tag-wrap{
    text-align: center;
    transform: rotate(12.539deg);
}
.road-to-hp-wrap .body.center{
    text-align: center;
    max-width: 65ch;
    margin: 0 auto;
    padding-top: 24px;
}
.road-to-hp-wrap .body.center p{
    color: #363636;
}
.recipe-cards{
    display: flex;
    gap: 32px;
    padding-top: 72px;
}
.recipe-cards a{
    width: 32%;   
    position: relative;
}
.recipe-cards .recipe-card{
    position: relative;
    border-radius: 17px;
    overflow: hidden;
}
.recipe-card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 52.45%, rgba(0, 0, 0, 0.90) 86.73%);
}
.recipe-card:hover .recipe-card-img{
    filter: grayscale(1);
}
.recipe-card-img{
    position: relative;
    padding-top: 130%;
    transition: .4s ease all;
    filter: grayscale(0);
}
.recipe-card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0px;
}
.recipe-card-content{
    position: absolute;
    bottom: 39px;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
}
.recipe-card-content-head h6{
    color:#FFFFFF
}
.recipe-card-content-body{
    padding-top: 20px;
}
.recipe-card-content-body p{
    color: #FCFCFC;
    font-size: 12px;
    text-align: center;
}
.recipe-card-cta p{
    color: #55B85F;
    font-family: var(--dexotick);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    text-align: center;
}
.recipe-card-cta{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -30px;
    transform: rotate(-3.435deg);
    opacity: 0;
    transition: .4s all ease;
    transform: translateY(100%);
    pointer-events: none;
}
.recipe-cards a:hover .recipe-card-cta{
    opacity: 1;
    transform: translateY(0) rotate(-3.435deg);
}
.parallax-slide{
    display: flex;
    position: relative;
    height: 100vh;
}
.parallax-slides{
    overflow: hidden;
    height: 100vh;
}
.parallax-slide-content{
    background-color:#F9F1E4;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parallax-slide-image{
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}
.parallax-slide.fixed .parallax-slide-image{
    position: fixed;
}
.parallax-slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.parallax-slide-head h3{
    text-align: center;
    color: #222;
}
.parallax-slide-body p{
    text-align: center;
}
.parallax-slide-content-wrap{
    width: 74%;
    margin: 0 auto;
}
.parallax-slide-body{
    padding-top: 28px;
}
.parallax-slide-head{
    max-width: 45ch;
    margin: 0 auto;
}
.parallax-slides-wrap .parallax-slide:nth-child(1) .parallax-slide-image{
    z-index: 1;
}
.parallax-slide-mob{
    display: flex;
    flex-direction: column;
}
.parallax-slides-mobile{
  background-color: #F9F1E4;
  padding-bottom: 40px;
  display: none;
  overflow: hidden;
}
.parallax-slide-content-mob{
    padding: 40px 0;
}
.parallax-slide-image-mob{
    position: relative;
    padding-top: 80%;
}
.parallax-slide-image-mob img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    inset: 0px;
}
.parallax-slide-content-mob-wrap{
    width: 70%;
    margin: 0 auto;
}
.parallax-slides-mobile-nav{
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.parallax-slides-mobile-nav img{
    filter: invert(1);
}
.parallax-slides-mobile-nav-prev img{
    transform: rotate(-180deg);
}
.parallax-slides-mobile-nav-prev.swiper-button-disabled , .parallax-slides-mobile-nav-next.swiper-button-disabled{
    opacity: 0.4;
}
@media only screen and (max-width:1400px){
    .founder-banner-content-top{
        max-width: 70ch;
    }
    .founder-banner-image{
        width: 43%;
    }
    .recipe-card-content{
        width: 82%;
    }
    .parallax-slide-head{
        max-width: 35ch;
    }
}
@media only screen and (max-width:1300px){
    .founder-banner-image{
        width: 38%;
    }
}
@media only screen and (max-width:1200px){
    .founder-banner-content-top{
        max-width: 60ch;
    }
    .founder-banner{
        max-height: 640px;
    }
    .parallax-slide-head{
        max-width: 30ch;
    }
   
}

@media only screen and (max-width:1100px){
    
}

@media only screen and (max-width:991px){
    .founder-banner{
        max-height: 100%;
        min-height: 100%;
        height: 100%;
    }
    .founder-banner .custom-container-fluid{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .founder-banner-image{
        width: 60%;
        margin: 0 auto;
    }
    .founder-banner-img img{
        position: static;
    }
    .founder-banner-content-top{
        max-width: 50ch;
    }
    .founder-banner-content{
        align-items: center;
    }
    .recipe-cards{
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 32px;
        row-gap: 52px;
    }
    .recipe-cards a{
        width: 47%;
    }
    .parallax-slide-head{
        max-width: 25ch;
    }
    .parallax-slide-content-wrap{
        width: 85%;
    }
    .parallax-slides-mobile{
        display: block;
    }
    .parallax-slides{
        display: none;
    }
}

@media only screen and (max-width:767px){
    .founder-banner-image{
        width: 100%;
    }
    .founder-banner{
        padding-top: 40px;
    }
    .recipe-cards a{
        width: 100%;
    }
    .gutly-tag{
        right: -18px;
        top: 10px;
        font-size: 10px;
        width: 86px;
        height: 86px;
    }
    .parallax-slide-content-mob-wrap{
        width: 90%;
    }
    .parallax-slides-mobile-nav{
        width: 90%;
    }
}